<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="LoaderName" value="ExcelLoader"/>-->
    <!--<add key="LoaderName" value="StringLoader"/>-->
    <add key="LoaderName" value="CSVLoader"/>    
    <add key="Esign.Implementation" value="Custom;Custom.Custom"/>
    <!--<add key="Esign.Implementation" value="Custom;Custom.Custom"/>
    <add key="Esign.Implementation" value="EchoSign"/>
        <add key="Esign.Implementation" value="Custom;Custom.Custom"/>
    <add key="Esign.Implementation" value="CustomDocuSign;CustomDocuSign.CustomDocuSign"/>
    <add key="Esign.Implementation" value="DocuSign;DocuSign.DocuSign"/>
    <add key="Esign.Implementation" value="EchoSign;EchoSign.EchoSign"/>
    -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
